
    <form  method="POST">
        {% csrf_token %}
        <!-- <p class="mandatory-field">Fields marked <span style="color: red;">*</span> are mandatory</p>
        <div class="info">
            <div class="input-field">
                <p>Name <span style="color: red;">*</span></p>
                
                {{AdjudicatorsForm.as_p}}
            </div>
            <div class="input-field">
                <p>Institute Name <span style="color: red;">*</span></p>
                <input type="text" name="college" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Email ID <span style="color: red;">*</span></p>
                <input type="email" name="email" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>

            <div class="input-field">
                <p>Contact No. <span style="color: red;">*</span></p>
                <input type="number" name="number" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Any additional information you would like to tell to us<span style="color: red;">*</span></p>
                <input type="text" name="info" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <p>List Past Experience (if any)</p>
            <div class="input-field">
                <p>Tournament Name<span style="color: red;">*</span></p>
                <input type="text" name="tourname" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Year<span style="color: red;">*</span></p>
                <input type="text" name="year" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Format<span style="color: red;">*</span></p>
                <input type="text" name="format" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Estimate size of tournament<span style="color: red;">*</span></p>
                <input type="text" name="size" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div>
            <div class="input-field">
                <p>Position Of Break<span style="color: red;">*</span></p>
                <input type="text" name="POB" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div> 
            <div class="input-field">
                <p>Furthest outround spoken<span style="color: red;">*</span></p>
                <input type="text" name="outround" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div> 
            <div class="input-field">
                <p>Speaker awards if applicable.<span style="color: red;">*</span></p>
                <input type="text" name="awards" placeholder="" spellcheck="false" data-ms-editor="true" style="width: 100%;">
            </div> 
            
        </div>
        <div style="display: flex; justify-content:center;">
            <input type="submit" value="REGISTER">
        </div> -->
        
        <div style="display: flex; justify-content:center;">
            <input type="submit" value="REGISTER">
        </div>

    </form>

